.login-cont {
  background-color: #121212;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-cont {
  background-color: #272727;
  padding: 30px;
  border-radius: 5px;
}

.image-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-img {
  height: 35px;
  margin-bottom: 30px;
}

.label-text {
  color: white;
  font-size: 9px;
  margin-bottom: 5px;
}
.test-input {
  background-color: #272727;
  border: 1px solid #b6c5ff;
  width: 250px;
  border-radius: 3px;
  height: 30px;
  margin-bottom: 10px;
  color: white;
  padding: 5px;
  font-size: 10px;
}

.login-button {
  height: 30px;
  width: 100%;
  background-color: #6366f1;
  border-radius: 5px;
  border: 0;
  color: white;
  margin-top: 15px;
}

.error-text {
  color: red;
  font-size: 15px;
}
